# git repo
.git/
.gitignore

# logs / env variables && private info
*.log

*.env

#python runtime info
__pycache__/
#vscode thingis
.vscode
# vscode files
launch.json

# schema
schema/

# tests
tests/