# git repo
.git/
.gitignore

# logs / env variables && private info
*.log
logs/

*.env

#python runtime info
__pycache__/

#vscode thingis
.vscode

# schema
schema/

# tests
tests/

# vscode files
launch.json